body{
    background: #353535;
}
.colorButton{
    background: rgb(255, 217, 0);
}

.bg-black{
    background: #000;
}

.card-project:hover{
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
}
